@import "../../global.scss";

.detailscontainer {
  position: relative;
  font-family: "Roboto", sans-serif;
  padding-bottom: 40px;
}

.wikiimg {
  align-items: center;
  margin-bottom: 40px;
  display: grid;
  grid-template-rows: 30px 30px;
  justify-content: center;
  font-size: 1rem;
  color: $absolute-white;
  background-color: $black-contrast;
  height: 70px;
  padding-top: 20px;
  /* padding-bottom: 5px; */
}

.wikiimg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 10px;
}

.link {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%; */
  text-decoration: none;
}

.details {
  margin: 0 auto;
  background-color: #eee;
  max-width: 500px;
  min-width: 320px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  position: relative;
}

.created {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  background-color: $absolute-white;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.title {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 5px;
  margin-top: 20px;
}

.types {
  justify-content: center;
  display: flex;
}

.types p {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 16px;
  width: 100px;
}

.flexdata {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.pokeimg {
  width: 260px;
  height: 260px;
}

@media (max-width: 380px) {
  .pokeimg {
    width: 200px;
    height: 200px;
  }
}

/* .dataskill {
} */

.dataskill p {
  /* display: none; */
  background-color: $absolute-white;
  padding: 15px;
  border-radius: 32px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.normal {
  padding: 3px;
  border: solid 2px $normal-color;
  background-color: $normal-color;
  border-radius: 8px;
}

.fighting {
  padding: 3px;
  border: solid 2px $fighting-color;
  background-color: $fighting-color;
  border-radius: 8px;
}

.flying {
  padding: 3px;
  border: solid 2px $flying-color;
  background-color: $flying-color;
  border-radius: 8px;
}

.poison {
  padding: 3px;
  border: solid 2px $poison-color;
  background-color: $poison-color;
  color: $absolute-white;
  border-radius: 8px;
}

.ground {
  padding: 3px;
  border: solid 2px $ground-color;
  background-color: $ground-color;
  border-radius: 8px;
}

.rock {
  padding: 3px;
  border: solid 2px $rock-color;
  background-color: $rock-color;
  border-radius: 8px;
}

.bug {
  padding: 3px;
  border: solid 2px $bug-color;
  background-color: $bug-color;
  border-radius: 8px;
}

.ghost {
  padding: 3px;
  border: solid 2px $ghost-color;
  background-color: $ghost-color;
  color: $absolute-white;
  border-radius: 8px;
}

.steel {
  padding: 3px;
  border: solid 2px $steel-color;
  background-color: $steel-color;
  border-radius: 8px;
}

.fire {
  padding: 3px;
  border: solid 2px $fire-color;
  background-color: $fire-color;
  border-radius: 8px;
}

.water {
  padding: 3px;
  border: solid 2px $water-color;
  background-color: $water-color;
  border-radius: 8px;
}

.grass {
  padding: 3px;
  border: solid 2px $grass-color;
  background-color: $grass-color;
  border-radius: 8px;
}

.electric {
  padding: 3px;
  border: solid 2px $electric-color;
  background-color: $electric-color;
  border-radius: 8px;
}

.psychic {
  padding: 3px;
  border: solid 2px $psychic-color;
  background-color: $psychic-color;
  border-radius: 8px;
}

.ice {
  padding: 3px;
  border: solid 2px $ice-color;
  background-color: $ice-color;
  border-radius: 8px;
}

.dragon {
  padding: 3px;
  border: solid 2px $dragon-color;
  background-color: $dragon-color;
  color: $absolute-white;
  border-radius: 8px;
}

.dark {
  padding: 3px;
  border: solid 2px $dark-color;
  background-color: $dark-color;
  color: $absolute-white;
  border-radius: 8px;
}

.fairy {
  padding: 3px;
  border: solid 2px $fairy-color;
  background-color: $fairy-color;
  border-radius: 8px;
}

.unknown {
  padding: 3px;
  border: solid 2px $unknown-color;
  background-color: $unknown-color;
  border-radius: 8px;
}

.shadow {
  padding: 3px;
  border: solid 2px $shadow-color;
  background-color: $shadow-color;
  color: $absolute-white;
  border-radius: 8px;
}

.stellar {
  padding: 3px;
  border: solid 2px $stellar-color;
  background-color: $stellar-color;
  color: $absolute-white;
  border-radius: 8px;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  .button {
    min-width: 150px;
    margin: 5px;
  }
  .button:disabled {
    background-color: $soft-gray;
    color: $black-contrast;
  }
}
