@import "../../global.scss";

.background {
  /* position: relative; */
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif;
}
.paginado {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.pokemonscontainer {
  position: relative;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(100px, 150px));
  grid-gap: 20px;
}

.refresh {
  font-size: 1rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  background-color: $btn-yellow;
  color: $absolute-black;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s;
}

.refresh:hover {
  color: $absolute-white;
  background-color: $hover-yellow;
}
