@import "../../global.scss";

.wikiimg {
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-bottom: 40px;
  display: grid;
  grid-template-rows: 30px 30px;
  font-size: 1rem;
  color: $absolute-white;
  background-color: $black-contrast;
  padding-top: 20px;
  /* padding-bottom: 5px; */
}

.wikiimg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.link {
  text-decoration: none;
}
.container {
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form {
  background-color: $soft-gray;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.errormessage {
  color: $absolute-white;
  background-color: $red-bootstrap;
  position: absolute;
  bottom: -60px;
  right: 70px;
  border-radius: 8px;
  padding: 2px;
  font-size: 0.6rem;
}

.input {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 1rem;
  padding: 2px;
}

.flexform {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flexinput {
  display: grid;
  grid-template-rows: 20px 20px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  height: auto;
}

@media (max-width: 450px) {
  .flexinput .input {
    width: 180px;
  }
}
@media (max-width: 400px) {
  .flexinput .input {
    width: 160px;
  }
}
@media (max-width: 359px) {
  .flexinput .input {
    width: 130px;
  }
}

.datacontainer {
  margin-bottom: 20px;
}

.datacontainer label {
  font-weight: bold;
}

.checkcontainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(50px, 50px));
  grid-template-rows: repeat(auto-fill, minmax(50px, 50px));
  grid-gap: 20px;
  margin-bottom: 30px;
  position: relative;
}

.checkcontainer p {
  font-size: 0.6rem;
  font-weight: bold;
}
.errormessage2 {
  color: $absolute-white;
  background-color: $red-bootstrap;
  position: absolute;
  font-size: 0.6rem !important;
  bottom: -30px;
  right: 190px;
  border-radius: 8px;
  padding: 2px;
}

.btnsend {
  align-items: center;
  align-self: center;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  background-color: $btn-yellow;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.btnsend:hover {
  color: $absolute-white;
  background-color: $hover-yellow;
}

// .btnsend:disabled {
//   cursor: default;
//   color: $absolute-white;
//   background-color: $black-contrast;
// }

.btnsend:disabled {
  cursor: default;
  background-color: $soft-gray;
  color: $black-contrast;
}

.normal {
  padding: 3px;
  border: solid 2px $normal-color;
  background-color: $normal-color;
  border-radius: 8px;
}

.fighting {
  padding: 3px;
  border: solid 2px $fighting-color;
  background-color: $fighting-color;
  border-radius: 8px;
}

.flying {
  padding: 3px;
  border: solid 2px $flying-color;
  background-color: $flying-color;
  border-radius: 8px;
}

.poison {
  padding: 3px;
  border: solid 2px $poison-color;
  background-color: $poison-color;
  color: $absolute-white;
  border-radius: 8px;
}

.ground {
  padding: 3px;
  border: solid 2px $ground-color;
  background-color: $ground-color;
  border-radius: 8px;
}

.rock {
  padding: 3px;
  border: solid 2px $rock-color;
  background-color: $rock-color;
  border-radius: 8px;
}

.bug {
  padding: 3px;
  border: solid 2px $bug-color;
  background-color: $bug-color;
  border-radius: 8px;
}

.ghost {
  padding: 3px;
  border: solid 2px $ghost-color;
  background-color: $ghost-color;
  color: $absolute-white;
  border-radius: 8px;
}

.steel {
  padding: 3px;
  border: solid 2px $steel-color;
  background-color: $steel-color;
  border-radius: 8px;
}

.fire {
  padding: 3px;
  border: solid 2px $fire-color;
  background-color: $fire-color;
  border-radius: 8px;
}

.water {
  padding: 3px;
  border: solid 2px $water-color;
  background-color: $water-color;
  border-radius: 8px;
}

.grass {
  padding: 3px;
  border: solid 2px $grass-color;
  background-color: $grass-color;
  border-radius: 8px;
}

.electric {
  padding: 3px;
  border: solid 2px $electric-color;
  background-color: $electric-color;
  border-radius: 8px;
}

.psychic {
  padding: 3px;
  border: solid 2px $psychic-color;
  background-color: $psychic-color;
  border-radius: 8px;
}

.ice {
  padding: 3px;
  border: solid 2px $ice-color;
  background-color: $ice-color;
  border-radius: 8px;
}

.dragon {
  padding: 3px;
  border: solid 2px $dragon-color;
  background-color: $dragon-color;
  color: $absolute-white;
  border-radius: 8px;
}

.dark {
  padding: 3px;
  border: solid 2px $dark-color;
  background-color: $dark-color;
  color: $absolute-white;
  border-radius: 8px;
}

.fairy {
  padding: 3px;
  border: solid 2px $fairy-color;
  background-color: $fairy-color;
  border-radius: 8px;
}

.unknown {
  padding: 3px;
  border: solid 2px $unknown-color;
  background-color: $unknown-color;
  border-radius: 8px;
}

.shadow {
  padding: 3px;
  border: solid 2px $shadow-color;
  background-color: $shadow-color;
  color: $absolute-white;
  border-radius: 8px;
}

.stellar {
  padding: 3px;
  border: solid 2px $stellar-color;
  background-color: $stellar-color;
  color: $absolute-white;
  border-radius: 8px;
}

.errorMessage {
  color: #ff1943;
  // font-family: $defaultFontFamily;
  font-size: 13px;
  font-weight: 600;
  margin: 3px 8px 0;
}

.pokeballIcon {
  color: $red-pokeball;
}

.input {
  background-color: $absolute-white;
}
