$gradient-background: linear-gradient(
  0deg,
  rgba(26, 33, 34, 1) 11%,
  rgba(33, 68, 33, 1) 30%,
  rgba(26, 33, 34, 1) 44%,
  rgba(240, 103, 32, 1) 57%,
  rgba(26, 33, 34, 1) 68%,
  rgba(31, 101, 182, 1) 79%,
  rgba(26, 33, 34, 1) 91%
);
$black-contrast: #21292c;
$blue-bootstrap: #007bff;
$absolute-white: #fff;
$red-bootstrap: #dc3545;
$absolute-black: #000;
$trasition-blue: #1f65b6;
$btn-gray: #d0d1d1;
$hover-gray: #818081;
$steel-color: #b1a7ba;
$water-color: #3399ff;
$bug-color: #a7b33b;
$dragon-color: #7365ab;
$electric-color: #f4cb5c;
$ghost-color: #6d6895;
$fire-color: #de5039;
$fairy-color: #f2b4eb;
$ice-color: #90d9e5;
$fighting-color: #dc9c8f;
$normal-color: #dbd3d1;
$grass-color: #a9df8f;
$psychic-color: #f89dbb;
$rock-color: #bba96f;
$dark-color: #4f4436;
$ground-color: #ecd495;
$poison-color: #9c5e8c;
$flying-color: #6590c8;
$unknown-color: #699d8e;
$shadow-color: #000000;
$stellar-color: #ff00ff;
// $red-pokeball: #dd4e67;
$red-pokeball: #ef3e33;

$soft-gray: #eee;
$btn-yellow: #ffc20a;
$hover-yellow: #bd8e00;

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: $gradient-background;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}
