:root {
  /* --black-contrast: #0b0f10; */
  --black-contrast: #21292c;
  --blue-bootstrap: #007bff;
  --absolute-white: #fff;
  --absolute-black: #000;
  --trasition-blue: #1f65b6;
  --btn-gray: #d0d1d1;
  --hover-gray: #818081;
  --steel-color: #b1a7ba;
  --water-color: #3399ff;
  --bug-color: #a7b33b;
  --dragon-color: #7365ab;
  --electric-color: #f4cb5c;
  --ghost-color: #6d6895;
  --fire-color: #de5039;
  --fairy-color: #f2b4eb;
  --ice-color: #90d9e5;
  --fighting-color: #dc9c8f;
  --normal-color: #dbd3d1;
  --grass-color: #a9df8f;
  --psychic-color: #f89dbb;
  --rock-color: #bba96f;
  --dark-color: #4f4436;
  --ground-color: #ecd495;
  --poison-color: #9c5e8c;
  --flying-color: #6590c8;
  --unknown-color: #699d8e;
  --shadow-color: #000000;
  --soft-gray: #eee;
  --btn-yellow: #ffc20a;
  --hover-yellow: #bd8e00;
}
.flex {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--black-contrast);
  flex-grow: 10px;
}

.filtertext {
  font-size: 1rem;
  margin-left: 10px;
  color: var(--absolute-white);
}

select {
  text-align: center;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  background-color: var(--absolute-white);
  margin-top: 5px;
  margin-bottom: 5px;
}

.create {
  font-size: 1rem;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  background-color: var(--btn-yellow);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.4s;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.create:hover {
  color: var(--absolute-white);
  background-color: var(--hover-yellow);
}

.changesort {
  font-size: 1rem;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  background-color: var(--btn-yellow);
  margin-right: 10px;
  width: 155px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.changesort:hover {
  color: var(--absolute-white);
  background-color: var(--hover-yellow);
}

.wikiimg {
  display: grid;
  width: 120px;
  grid-template-rows: 30px 30px;
  justify-content: center;
  font-size: 1rem;
  color: var(--absolute-white);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wikiimg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.link {
  text-decoration: none;
}
